.box{
    color: white;
    font-size: 100px;
    text-align: center;
    padding: 10px;

}

.box1{background-color: violet;}
.box2{background-color: blue;}
.box3{background-color: skyblue;}
.box4{background-color: green;}
.box5{background-color: yellow;}
.box6{background-color: black;}
.box7{background-color: red;}
.box8{background-color: sienna;}
.box9{background-color: purple;}
.box10{background-color: turquoise;}

.container{
    display: flex;
    height: 100vh;
    border: 10px solid;

    /*align-items: flex-start;*/

}

.box3{
    /*padding-bottom:20%;*/
    /*align-self: flex-start;*/

    /*align-self: stretch;*/
}
.box7{
    /*padding-bottom:35%;*/
}